body{
    background-color: rgba(152, 193, 217);
}

h1{
    color: white;
}
#description{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.listhabilidade{
    color: rgb(224, 251, 252);
}
.linkspag{
    color: rgb(88, 190, 199);
}
#foto{
    border-radius: 50%;
}
strong{
    color: rgb(61, 90, 118)
}

