body{
    background-color: rgba(152, 193, 217);
    padding: 3%;
}

h1.meunome{
    color: white;
    text-align: center;
}
#description{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding-right: 20px;
    position: absolute;
    left: 650px;
    top: 300px;
    
}
.listhabilidade{
    color: rgb(224, 251, 252);
}
.linkspag{
    color: rgb(88, 190, 199);
}
#minhafoto{
    float: left;
    height: 230px;
    padding: 10px;
    background-color: rgb(61, 90, 118);
}
strong{
    color: rgb(61, 90, 118)
}



.image-container{
    height: 250px;
    border: 2px solid blue;
}

ul li:nth-child(odd){
    background-color: rgb(135, 168, 202)
    /* Aqui estamos usando combinação de classe e a pseudoclasse nth-child(odd).
     * O comando está selecioando apenas os ímpares = odd, mas poderia ser par = even */
    
